/.bundle
/.cache
/.gem
/.java
/.local
/.yarn
/.vegas
/log
/node_modules
/resque_web
/spec/examples.txt
**/tmp
/vendor/bundle
.bash_history
.byebug_history
.gitconfig
.rspec_status

# Ignore master key for decrypting credentials and more.
/config/master.key

# Don't Ignore .keep files
!**/.keep

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
