.form-control:focus {
  outline: 0;
  box-shadow: 0 0 0 2px var(--color-maize-400),
    0 0 0 3px var(--color-neutral-400);
  border-radius: 2px !important;
}

#content #documents {
  margin-bottom: 2rem;
}

.al-repositories {
  margin-bottom: 2rem;
}

#context .actions-wrapper .btn.al-show-actions-collection-info {
  color: var(--color-neutral-400) !important;
}

#content #component-restrictions {
  background-color: var(--color-maize-200);
}

#component-restrictions > p> a {
  color: var(--color-teal-500);
}

/* Facets */

#facets .facet-limit-active .card-header {
  background: var(--color-green-500) !important;
}

#facets {
  .facet-limit-active {
    border-color: var(--color-green-500) !important;
  }

  .facet-limit-active .card-header {
    background-color: var(--color-green-500) !important;
  }

  .facet-values li .selected {
    color: var(--color-green-500) !important;
  }

  .facet-limit-active .collapse-toggle {
    color: white;
  }
}

/*Results*/

.page-link {
  color: var(--color-indigo-500);
}

.page-link:focus {
  outline: 0;
  box-shadow: 0 0 0 2px var(--color-maize-400),0 0 0 3px var(--color-neutral-400);
  border-radius: 2px!important;
}

.page-item.active .page-link {
  background-color: var(--color-indigo-500);
  border-color: var(--color-indigo-500);
}

.modal[aria-modal="true"] {
  button.close {
    span.visually-hidden {
      // THIS IS SO DUMB
      position: static !important;
      height: auto !important;
      width: auto !important;
      overflow: auto !important;
      clip: unset !important;
    }
  }
}

/* Request/clear show actions toolbar */

#context .actions-wrapper .al-show-actions {
  background-color: var(--color-blue-100);
}

.sticky-toolbar-top {
  position: sticky;
  top: 0;
  z-index: 2;
}

.al-show-actions-toolbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  position: relative;
  margin-bottom: .5rem;
  border-bottom: solid 1px var(--color-teal-300);
  box-shadow: 0px 3px 3px -3px rgba(23, 130, 166, 0.58);
  background-image: linear-gradient(to top, #f7f8f9, #f9fafb, #fbfbfc, #fdfdfd, #ffffff);
}

.al-show-actions-box-request > button {
  margin-right: .25rem;
}

.al-show-actions-box-request > button:hover {
  box-shadow: 0 0 0 2px var(--color-maize-400), 0 0 0 3px var(--color-neutral-400);
  border-radius: 2px !important;
}

.al-show-actions-toolbar > .request-checkbox {
  display: flex;
  align-items: center;
  padding: .5rem 0;
}

.al-show-actions-toolbar > .request-checkbox > label {
  color: var(--color-neutral-400);
}

.contents-wrapper > .al-show-sub-heading {
  padding-top: 0;
  border-top: none;
}

.badge-request {
  background-color: var(--color-pink-500);
  color: #fff;
  font-size: 85%;
}
